[user]
    name    = Chris Nandor
    email   = projects@pudge.net
[core]
    excludesfile    = ~/.gitignore.default
    hooksPath       = ~/.githooks
[alias]
    cwip    = !git commit -m wip --no-verify

    pushf   = !git push --force-with-lease
    fetcht  = !git fetch --tags --force
    pullr   = !git pull --rebase --tags
    pro     = !hub pull-request --browse
    prod    = !hub pull-request --browse --draft
    st      = !git --no-pager status
    ss      = !git stash save
    sta     = !git for-each-ref --color=always --format='%(HEAD) %(color:yellow)%(objectname:short) %(color:reset)%(refname:short)%(color:red)%(upstream:trackshort) %(color:blue)%(upstream:track)' refs/heads
    fetch   = !git fetch --tags --force
    delrem  = !git push origin --delete

    diffc   = !git diff --cached
    dl      = !git diff --color=always | less -R
    dlc     = !git diff --cached --color=always | less -R
    dt      = !git difftool
    dtc     = !git difftool --cached

    lasttag = describe --tags --abbrev=0
    tagl    = !git tag --list | sort_tags
    mod     = ls-files --modified
    br      = rev-parse --abbrev-ref HEAD
    sbr     = symbolic-ref HEAD
    rbr     = rev-parse --abbrev-ref --symbolic-full-name @{u}
    repo    = config --get remote.origin.url
    sha     = rev-parse --verify HEAD
    shas    = rev-parse --short HEAD

    lg      = log --pretty=pudge1 --date=short --decorate-refs-exclude='refs/tags/[A-Z]*[0-9]*' --decorate-refs-exclude='refs/tags/[a-z]*-[A-Z]*[0-9]*'
    lgs     = !git lg --numstat
    top     = !git lg -10
    tops    = !git lgs -10

    #log1    = log --oneline
    log1    = log --pretty=pudge1 --date=short
    logs    = log --stat
    logp    = log --patch
    logsp   = !git logs --patch
    logg    = log --graph
    logg1   = !git logg --oneline

    last    = log -1
    last1   = last
    lasts   = !git logs -1
    lastp   = !git logp -1
    lastsp  = !git logsp -1
    lastc   = log --pretty=hash

[log]
    date            = iso-strict
    decorate        = true
[pretty]
    pudge1          = format:%C(auto)%h%Creset %<(12,trunc)%Cblue%al %ad%Creset %s%C(auto)%d%Creset
    hash            = format:%H
[format]
    pretty          = medium
[color]
    ui              = auto
    grep            = always
[grep]
    patternType     = perl
[merge]
    ff              = false
    tool            = bbdiff
[hub]
    host            = github.com
    protocol        = ssh
[remote "origin"]
    #fetch           = +refs/tags/*:refs/tags/*
    prune           = true
[branch]
    autosetuprebase = always
[push]
    default         = current
[forward]
    verbose         = true
[rebase]
    stat            = true
[rerere]
    enabled         = false
[init]
    templatedir     = ~/.git-templates

[diff]
    tool = bbdiff
    renameLimit = 4096
[difftool]
    prompt = false
[difftool "bbdiff"]
    cmd = bbdiff --wait --resume \"$LOCAL\" \"$REMOTE\"
[mergetool "bbdiff"]
    cmd = bbdiff --wait --resume \"$LOCAL\" \"$REMOTE\"
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[credential]
	helper = store
