[user]
    name    = Chris Nandor
    email   = projects@pudge.net
[core]
    excludesfile    = ~/.gitignore.default
[alias]
    pullr   = !git pull --rebase
    pro     = !hub pull-request -o
    cb      = !git checkout -b
    st      = !git --no-pager status

    dc      = !git diff --color=always | less -R
    diffc   = !git diff --cached

    lasttag = describe --tags --abbrev=0
    tagl    = !git tag -l | sort_tags
    mod     = ls-files --modified
    br      = symbolic-ref HEAD
    rbr     = rev-parse --abbrev-ref --symbolic-full-name @{u}
    repo    = config --get remote.origin.url
    only    = !git_only

    lg      = log --pretty=pudge1 --date=short
    lgs     = !git lg --numstat
    mn      = !git lg $(git pbr)..HEAD
    mns     = !git lgs $(git pbr)..HEAD
    th      = !git lg $(git rbr)..HEAD
    ths     = !git lgs $(git rbr)..HEAD
    top     = !git lg -8
    tops    = !git lgs -8

    log1    = log --oneline
    logs    = log --stat
    logp    = log --patch
    logr    = log --raw
    logsp   = !git logs --patch
    logsr   = !git logs --raw
    logspr  = !git logs --patch --raw
    logg    = log --graph
    logg1   = !git logg --oneline

    mine    = !git log $(git pbr)..HEAD
    mine1   = !git log1 $(git pbr)..HEAD
    mines   = !git logs $(git pbr)..HEAD
    minep   = !git logp $(git pbr)..HEAD
    miner   = !git logr $(git pbr)..HEAD
    minesp  = !git logsp $(git pbr)..HEAD
    minesr  = !git logsr $(git pbr)..HEAD
    minespr = !git logspr $(git pbr)..HEAD
    mineg   = !git logg $(git pbr)..HEAD
    mineg1  = !git logg1 $(git pbr)..HEAD

    this    = !git log $(git rbr)..HEAD
    this1   = !git log1 $(git rbr)..HEAD
    thiss   = !git logs $(git rbr)..HEAD
    thisp   = !git logp $(git rbr)..HEAD
    thisr   = !git logr $(git rbr)..HEAD
    thissp  = !git logsp $(git rbr)..HEAD
    thissr  = !git logsr $(git rbr)..HEAD
    thisspr = !git logspr $(git rbr)..HEAD
    thisg   = !git logg $(git rbr)..HEAD
    thisg1  = !git logg1 $(git rbr)..HEAD

    last    = log -1
    last1   = last
    lasts   = !git logs -1
    lastp   = !git logp -1
    lastr   = !git logr -1
    lastsp  = !git logsp -1
    lastsr  = !git logsr -1
    lastspr = !git logspr -1
    lastc   = log --pretty=hash

[log]
    date            = iso-strict
    decorate        = true
[pretty]
    pudge1          = format:%C(yellow)%h%Creset %<(12,trunc)%Cblue%an %ad%Creset %s%Cred%d%Creset
    hash            = format:%H
[format]
    pretty          = medium
[color]
    ui              = auto
    grep            = always
[grep]
    patternType     = perl
[merge]
    ff              = false
[hub]
    host = github.com
    protocol        = ssh
[remote "origin"]
    fetch           = +refs/tags/*:refs/tags/*
    prune           = true
[branch]
    autosetuprebase = always
[push]
    default         = current
[forward]
    verbose         = true
[rebase]
    stat            = true
